@import "tailwindcss";


* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background-color: #4491b3;
  width: 100%;
  height: 100%;
}

/*form for login and register*/

.formLogs{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

/*

/* navbar page */

.Navbar{
    background-color: '#4f46e5'; /* indigo-600*/
      color: 'white';
      padding: '1rem 2rem';
      display: 'flex';
      justify-content: 'space-between';
      align-Items: 'center';
      box-Shadow: '0 2px 4px rgba(0,0,0,0.1)';
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}