@import "tailwindcss";


* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background-color: #4491b3;
  width: 100%;
  height: 100%;
}

/*form for login and register*/

.formLogs{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

/*login page*/
.loginContainer {
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  background: #4491b3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.loginContainer p{
    margin-top: 20px;
}

.curved svg{
    display:block;
}

.loginH1{
    color:white;
    font-size: 40px;
    font-weight: 500;
}

.loginInput {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: #4491b3;
  width: 300px;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
  outline: 0;
}

.loginButton {
  appearance: none;
  outline: 0;
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 10px 15px;
  color: #4491b3;
  border-radius: 10px;
  width: 300px;
  font-size: 18px;
  font-weight:bolder;
}


/*register page*/
.registerContainer{
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    background: #4491b3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem;
}

.registerH1{
    color:white;
    font-size: 40px;
    font-weight: 500;
    padding: 20px;
}

.registerInput{
     border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: #4491b3;
  width: 500px;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
  outline: 0;
}

.registerName{
     border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: #4491b3;
  width: 240px;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
  outline: 0;
}

.nameRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;  /* Space between first and last name */
    width: 100%; 
}

.registerButton{
    appearance: none;
    outline: 0;
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 10px 15px;
    color: #4491b3;
    border-radius: 10px;
    width: 500px;
    font-size: 18px;
    font-weight:bolder;
}

.registerContainer p{
    margin-top: 20px;
}